/* variables */

/* targets highest level selector in DOM - html tag */
/* all repeated styles go here in variables */
:root{
    --primary: #D88C9A;

    --call-to-action-colour:  #bb8244;

    --light-pink: #ebced3;

    --secondary:#f2d0a9cc;

    --secondary-dark:#dbbc99cc;

    --tertiary:#FFF8F4;

    --text: #915c66;

    --font: "Cambay", sans-serif;

    --unique-font-name: "Cedarville Cursive", serif;

    --font-secondary: "Quicksand", sans-serif;

    --input-bg: rgba(255, 255, 255, 0.7);

    --input-border: #456360;

    --input-border-focus: #304342;
    
    --primary-hover: #fbf6f0cc;


}

/* reset */ 
/* usually margins/padding/font/list styles */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
overflow-x:hidden;
color: var(--text)
}

/* base styles */

body{
    background: var(--secondary);
    font-family: var(--font-secondary);
        font-weight: 400;
      }

.name{
    color: #b87884;
    font-weight: 800;
    font-family: var(--unique-font-name);
    font-size: 2.4rem;
}
      

.button{

border: 2px solid var(--primary);
color: var(--primary-hover);
font-weight: 700;
padding: 6px 12px;
border-radius: 20px;
text-transform: uppercase;
box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
display: inline-block;
background-color: var(--primary);

/* tranform targets the hover and active states below 
e.g transform - makes transform:translateY(3px) take 0.1 seconds.
ease means starts slowly quickly then slowly again */
transition: transform 0.1s ease, box-shadow 0.1s ease; 
}

.button:hover{
    background-color: var(--secondary);
    color:var(--primary)
}

.button:active{
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    /* timing in parent above with transition property */
   transform: translateY(3px);
}


li{
    list-style-type: none;
}

input,textarea{
    /* opacity is last argument */
    padding: 10px 16px;
border-radius: 20px;
}

input:focus,
textarea:focus {
  border-color: var(--input-border-focus);
  outline: none; /* Remove the default outline */
font-family: var(--font);
background: rgba(255,255,255,0.75);
}



/* FONTS */

h1,h2,h3,h4{
    color: var(--text);
}


h1{

    /* takes default 16px value */
    /* takes font-size of itself if it is set, or of its parent, useful for cascading styles */
    font-size: 1.2em;
    font-weight: 500;
    
}

h2{
    font-weight: 600;
    font-size: 2rem;
    color: #7d5059;
}

h4{
    font-size: 1.3em;
    font-weight: 500;
}

/* WELCOME SECTION */

.welcome-paragraph{
    font-size: 1.2em;
    margin-bottom: 26px;
}

#welcome{
    padding:0 20px 20px 20px;
}

.welcome-text{
    grid-column: 1/6;

}

.welcome-img{
    grid-column: 6/9;
    /* 200 perc of whatever is containing the image - columns */

}

.welcome-img img{
    width: 200%;
    border-radius: 16px;
    margin-top:36px;
}

welcome-text a {
    margin: 20px 0;
}

/* PORTFOLIO section */

#portfolio{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 30px 20px;
    text-align: center;
}

#portfolio h3{
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    font-size: 1.7rem;
    color: #7d5059;
    text-decoration: underline;
 text-decoration-color: var(--primary);
 text-decoration-thickness: 2.5px;
 text-underline-offset: 14px;


}

#portfolio span{
font-weight: 700;
}

/* projects */

.projects {

    position: relative;
  

}

.projects a{
    position: relative;
    grid-column: 1/9;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
 
}

.projects img{
    border-radius: 16px;
    opacity: 1;
    display: block;
    width: 100%;
    border: 8px solid var(--secondary-dark);
}


  

.projects a *{
margin: 8px 20px;
max-width: 80%;
align-self: center;

}


.projects h4{
    color: var(--paragraph-text);
}






/* mobile styles */

.grid{
    display: grid;
    gap: 16px;

    /* means 8 times 1fr e.g 1fr 1fr 1fr etc */
    grid-template-columns: repeat(8,1fr);
    /* eight equal width columns created */
}

.site-nav{
    margin: 0 24px;
}

/* targets descendant */
.site-nav ul{
    display: none;
}

.site-nav h1{
    /* take up column lines 1 until 4 (3 columns) */
    grid-column: 1/4;
    grid-row:1;
    padding-bottom: 10px;
border-bottom: 3px solid var(--primary)
}


/* SKILLS SECTION */

#skills{
    padding: 30px 20px;
    background: var(--tertiary);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#skills h2{
   
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 14px;
}

#skills ul{
    margin: 40px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 16px;
}

#skills li{
    padding: 16px;
    background-color: var(--light-pink);
    /* item stretches across 4 columns */
    grid-column: span 8;
    text-align: center;
    border-radius: 16px;
    font-weight: 700;
}

#skills img{
  
    margin: 10px auto;
    width: 100%;
   
}

/* CONTACT */
#contact {
    padding: 30px 20px;
    background-color: var(--secondary-dark);
}

#contact h3, #contact p{
    text-align: center;
    margin-bottom: 0;
    color:var(--text);
}

#contact form{
    /* 80% of parent container */
    width:80%;
    /* does not get any bigger */
    max-width: 400px;
    margin: 20px auto;
    /* inside the form the text will be centered */
    text-align: center;
    
}

#contact input, #contact textarea{
    width: 85%;
    margin: 10px 0px;
}

#contact .button{
    margin-top: 10px;
}

#skills span{
    color: var(--paragraph-text);

}

/* FOOTER */

footer{
    padding: 16px 8px;
   background-image: url(./assets/pink-logo-lk.png);
   background-size: 18%;
   background-repeat: no-repeat;
 background-position: center center;
}

footer .copyright{
    grid-column: 1/3;
    font-size: 0.8em;
    font-size: 0.8rem;
}

footer .social{
    grid-column: 7/9;
    display: flex;
    justify-content: center;
}

footer li{
    margin: 0 4px;
    font-size: 1rem;
}

form button{
    font-size: 1rem;
}

/* small tablet styles */

@media screen and (min-width: 620px) {
    
    .welcome-text{
        grid-column: 1/5;
    }

    .welcome-img{
        grid-column: 5/9;
   
        /* 200 perc of whatever is containing the image - columns */
    
    }

    .welcome-img img{
        width: 100%;
        border-radius: 16px;
        margin-top:36px;

    }

    /* PROJECTS */
.projects{
    margin-top: 40px;
}

.projects a{

    grid-column: span 4;
    display: block;
    margin: 20px 0;
    
}


.projects a:last-child{
  grid-column: 3/7;
}


.projects a *{

max-width: 65%;
margin: 10px 20%;
}


.projects h4{
    text-align: center;
}


#skills{
    padding: 30px 100px;
}

#skills li{
 
    background-color: var(--light-pink);
    /* item stretches across 4 columns */
    grid-column: span 4;
 
}

footer{
    margin: 20px;
    background-size: 10%;
}
}

/* large tablet and laptops */

@media screen and (min-width: 960px) {
   body{
    font-size: 18px;
   } 
}

/* desktop styles */

@media screen and (min-width: 1200px) {
    body{
        font-size: 20px;
       } 
}


